{% extends "base.html" %}
{% block body %}
<h2>Last usage for {{ machine_details.machinename }}</h2>
<p>Showing the 25 most recent entries.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Start Time</th>
      <th scope="col">Time Used</th>
      <th scope="col">Charge</th>
    </tr>
  </thead>
  <tbody>
    {% for used_ in last_usage %}
    {# Iterate over the last 25 log entries #}
    <tr>
      <td scope="row"><a href="{{ url_for('user', user_uid=used_.useruid)}}">{{ used_.user.username }}</td>
      <td>{{ used_.starttime}}</td>
      <td>{{ used_.elapsed }}</td>
      <td>
          {% if used_.charge %}
            {{ "£%.2f"|format(used_.charge)}}
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
