{% extends "base.html" %}
{% block body %}

{# Check to see if an error status has been set to either true or false, and display the appropriate alert #}
{% if error is defined %}
  {% if error %}
    <div class="alert alert-danger" role="alert" id="alertdiv">
      Failed to create machine! {{ error_string }}
    </div>
  {% endif %}

  {% if not error %}
    <div class="alert alert-success" role="alert" id="alertdiv">
      Successfully created new machine!
    </div>
  {% endif %}

  <script type="text/javascript">
  $('#alertdiv').delay(6000).fadeOut();
  </script>

{% endif %}
<form  action="/machines/new" method="post">
  <div class="form-group">
    <label for="machineuid">Machine UID</label>
    <input class="form-control" type="text" name="machineuid" id="machineuid" value="{{ machine_uid }}" readonly>
  </div>
  <div class="form-group">
    <label for="machinename">Machine name</label>
    <input class="form-control" type="text" name="machinename" id="machinename" maxlength="45">
  </div>
  <input type="submit" class="btn btn-primary" value="Create">
</form>

{% endblock %}
