{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col">
    <a href="/users/new"><button class="btn btn-success">New user</button></a>
  </div>
</div>
<div class="row">
  <div class="col">
    {% if user_list is defined %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User UID</th>
            <th scope="col">User Name</th>
            <th scope="col">Card UID</th>
          </tr>
        </thead>
        <tbody>
          {% for user_ in user_list %}
          {# Iterate over the list of machines #}
          <tr>
            <th scope="row"><a href="{{ url_for('user', user_uid=user_.useruid)}}">{{ user_.useruid }}</th>
            <td>{{ user_.username }}</th>
            <td>{{ user_.carduid }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No users found!
    {% endif %}
  </div>
</div>

{% endblock %}
